# Dependências
node_modules/

.env
C:\Users\Aluno\Downloads\dw1\livraria\data\livraria.db-wal
C:\Users\Aluno\Downloads\dw1\livraria\data\livraria.db-shm
cookies.text
C:\Users\Aluno\Downloads\dw1\livraria\data\livraria.db
